
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.limits {
  font-size: 8pt;
  color: #808080,
}

.start-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-right: auto;
}

g.pointtext {
  display: none;
  }

.tabsheight {
  height: 55px;
}

P {
  font-size:10pt;
}

.regularfont {
  font-size: 10pt;
}

.update{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.justify {
  text-align: justify;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	text-align: center;
	border-top: 1px solid rgba(128, 128, 128, 0.15)
}

.backgroundlanding {
	background-image: url('/assets/landing/landing3v3.jpg');
	height: 100%;
	width: 100%;
  	background-position: center;
	background-size: cover;
	position: fixed;
	margin-right: 0;
	overflow: auto;
	color: rgb(77, 76, 76);
}

.landingjumbo {
	background-color: rgba(255, 255, 255, 0.0);
	width: 80%;
	margin: auto;
}

.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.stepbarheight {
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12pt;
}

._dash-undo-redo {
	display: none;
  }

.btnupdate {
	font-family: "Segoe UI", "Source Sans Pro";
	display: inline-block;
	margin-left: 6px
}

.footerbottom {
	padding-bottom: 0;
	padding-top: 3pt;
}

.boxminimum {
	width: 25%;
	display: inline-block
}

.boxinput {
	width: 30%;
	display: inline-block;
	padding-right: 10%; 
	border-width: 2px
}

.boxmaximum {
	width: 25%;
	display: inline-block
}

.spacebox {
	width: 10%;
	display: inline-block
}